%section{:id => 'navi'}

%section{:id => 'home', :data => {'type' => 'background' }}
  #info.container
    %h1
      Let's Go
    .home-info
      GO is a Peruvian-based firm offering integrated web development solutions.

      We provide business-transforming tailored solutions that will help companies overcome their challenges, by delivering an engaging digital experience specific to their needs.

      We understand how companies work.
      We think outside of the box.
      We’re go-getters.
      So come jump in and share our passion for excellent results. Let’s GO!

  %video#bgvid{:autoplay => "", :loop => "", :width => '100%', :poster => "1.jpg"}
    %source{:src => "http://www.degordian.com/static/video/9999.webmhd.web", :type => 'video/webm; codecs="vp8, vorbis"'}
    %source{:src => "http://www.degordian.com/static/video/header.mp4", :type => 'video/mp4; codecs="avc1.42E01E, mp4a.40.2"'}
#seccion
  %section{:id => 'what', :data => {'type' => 'background' }, :class => 'pages'}
    %article
      %h1
        HERE WE GO
    #what-info.container
      #what-1.what-col
        = image_tag(image_path('option.png'));
        %h2
          SOFTWARE
        %p
          Tailor-made applications for all departments in all industries at a global scale. All the way from corporate intranets and portals to a complete accounting and inventory system.

      #what-2.what-col
        = image_tag(image_path('facebook.png'));
        %h2
          FACEBOOK APPS
        %p
          Reinforce the company’s brand with the most dynamic and original Facebook page, with interesting content, games, contests and more.

      #what-3.what-col
        = image_tag(image_path('cloud.png'));
        %h2
          START UPS SOLUTIONS
        %p
          Starting a new company? We can develop all our services with a very reasonable price and timetable. Ask us how!

  %section{:id => 'how', :data => {'type' => 'background' }, :class => 'pages'}
    %article
      %h1
        THE WAY TO GO
    #how-info.container
      .how-col
        %h3
          Creativity and innovation
        %p
          to find the best solution with the easiest way to use.
          (we let our imagination fly yet we know how corporate minds work)
      .how-col
        %h3
          Flexibility and quick response
        %p
          based on an open and constant communication between the two parties. every day counts.
          (we’re nice, fun and we listen)
      .how-col
        %h3
          Cutting-edge technology
        %p
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
  
  %section{:id => 'work', :data => {'type' => 'background' }, :class => 'pages'}
    %article
      %h1
        THERE YOU GO
    #work-info.container
      .img-work
      .info-work
        %h2
          Project's name
        %p
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
    
  %section{:id => 'contact', :data => {'type' => 'background' }, :class => 'pages'}
    %article
      %h1
        CONTACT US
    #contact-info.container
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,

.wrapper

  .seccion-footer
    = link_to 'http://www.facebook.com/golabs' do
      = image_tag(image_path('fb-link.jpg'));
      %span fb.com/golabs
    %br
    = link_to 'http://www.twitter.com/golabs' do
      = image_tag(image_path('twitter-link.jpg'));
      %span @golabs
    %br
    = link_to '#' do
      = image_tag(image_path('skype-link.jpg'));
      %span /golabs
  .seccion-footer
    = mail_to 'info@golabs.pe' do
      = image_tag(image_path('info-link.jpg'));
      %span info@golabs.pe
    %br
    = link_to '#' do
      = image_tag(image_path('phone-link.jpg'));
      %span +51 343343 | 51+ 99887634
.button
  = image_tag(image_path('button-link.jpg'));
