#navigation
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar  
        %span.icon-bar  
        %span.icon-bar  
      = link_to image_tag(image_path('logo-go.png')), root_path, class: 'navbar-brand'
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          = link_to "home", "" ,class: "home";
        %li
          = link_to 'what', '', :class => 'what'
        %li 
          = link_to 'how', '', :class => 'how'
        %li
          = link_to 'work', '', :class  => 'work'
        %li
          = link_to 'contact', '', :class => 'contact'
